body {
    background-color: darkred;
  }
  
  .topnav{
      background-color: white;
      position: sticky;
      }
      
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .banner {
    display: flex;
    min-height: 5%;
    padding-left: 600px;
  }
  
  h1 { 
    font-family: 'Permanent Marker';
      color: white;
      display: flex;
      align-items: center;
    }
  
  .container {
      background-color: white;
      max-width: 1010px;
      min-height: 100vh;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
  }
  
  
  .Gallery {
       max-width: 800px;
       flex-wrap: wrap;
       display: flex;
      }