h1 { 
   font-family: cursive; 
}

figcaption {
    font-family: cursive;
}

/*.map { 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 612px;
    margin: 20px;
    padding: 10px;
}
*/

.button1 {
    position: absolute;
    bottom: 60px;
    right: 1000px;
    border-radius: 100px;
    background-color: lightgreen;
  }
 /*.button1:active {   
      background:url(C:\Users\Laptop\OneDrive\Documents\Uni Work\Final Year\Code First - Girls\GitHub\Living-Abroad.github.io\Pin.png) no-repeat;
  } */

  .button2 {
    position: absolute;
    bottom: 60px;
    right: 100px;
    border-radius: 100px;
    background-color: lightgreen;
  }
  
  /*.modal {
    position: absolute;
    bottom: 60px;
    right: 1000px;
    display: none;
  }
  */

  #myModal1 {
    position: absolute;
    bottom: 60px;
    right: 1000px;
    display: none;
  }

  #myModal2 {
    position: absolute;
    bottom: 60px;
    right: 100px;
    display: none;
  }
