body {background-color: darkred;}

.banner {
  text-align: center;
  min-height: 10%;
}

h1 { 
   font-family: cursive; 
   color: white;
  }

figcaption {
    font-family: cursive;
    color: white;
}

.map { 
    display: flex;
    flex-direction: column;
    margin: 0.1%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.imagebuttons{
  position: relative;
}


.button1 {
    position: absolute;
    bottom: 19.1%;
    left: 16.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: lightgreen;
    z-index: +1;
  }
 /*.button1:active {   
      background:url(C:\Users\Laptop\OneDrive\Documents\Uni Work\Final Year\Code First - Girls\GitHub\Living-Abroad.github.io\Pin.png) no-repeat;
  } */

  .button2 {
    position: absolute;
    float: left;
    bottom: 24%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 100px;
    background-color: lightgreen;
  }
  
  .button3 {
    position: absolute;
    float: left;
    bottom: 43.2%;
    left: 25.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 100px;
    background-color: lightgreen;
  }
  /*.modal {
    position: absolute;
    bottom: 60px;
    right: 1000px;
    display: none;
  }
  */

  #myModal1 {
    position: absolute;
    bottom: 61%;
    left: 17%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px;
    min-width: 50vw;
  }

  #myModal2 {
    position: absolute;
    bottom: 52%;
    left: 30%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px; 
    min-width: 40vw; 
  }

  #myModal3 {
    position: absolute;
    bottom: 52%;
    left: 20%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px; 
    min-width: 50vw; 
  }


