body {background-color: darkred;}

.banner {
  display: flex;
  justify-content: center;
  min-height: 5%;
}

#equal_size {
  flex: initial;
  width: 250px;
}

.topnav{
  flex: initial;
  position: sticky;
  float: right;
}

#welcome {
  text-align: center;
  flex: 1;
}

h1 { 
  font-family: 'Permanent Marker';
   color: white;
   align-items: center;
  }

figcaption {
    font-family: cursive;
    color: white;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.map { 
    display: flex;
    flex-direction: column;
    margin: 0.1%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.imagebuttons{
  position: relative;
}


.button1 {
    position: absolute;
    bottom: 19.5%;
    left: 16.7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: lightgreen;
    z-index: +1;
  }


  .button2 {
    position: absolute;
    float: left;
    bottom: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 100px;
    background-color: lightgreen;
  }
  
  .button3 {
    position: absolute;
    float: left;
    bottom: 44.4%;
    left: 25.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 100px;
    background-color: lightgreen;
  }

  #myModal1 {
    position: absolute;
    bottom: 61%;
    left: 17%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px;
    min-width: 50vw;
  }

  #myModal2 {
    position: absolute;
    bottom: 52%;
    left: 30%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px; 
    min-width: 40vw; 
  }

  #myModal3 {
    position: absolute;
    bottom: 52%;
    left: 20%;
    transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    display: none;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 20px; 
    min-width: 50vw; 
  }


